* {
    margin: 0;
    padding: 0;
}

form {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}

.logo{
    width:150px;
    height: auto;
    margin-bottom: 10px;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 900px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

p {
    text-align: center;
    margin-bottom: 40px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}

input,
select {
    padding: 10px;
    border: none;
    border-bottom: 1px dashed #999;
    font-size: 1rem;
    background: transparent;
    outline: none;
}

input::placeholder,
select {
    color: #777;
}

small {
    color: #999;
    font-size: 0.85rem;
}

button{
    background-color: #0b1050; 
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
}

progress{
    width: 20rem;
}